<div class="jumbotron-fluid home-main-bg">

    <div class="container">

        <section class="section-main">
        
            <h1> Concretamos <br>Tus ideas</h1>
            <p> Aterrizamos tus proyectos entregando <br>identidad y valor </p>

        </section>

    </div>
    
</div>


<div class="w-100"> </div>

<div class="container">
    
    <div class="row">

        <div class="col">

            <h3 class="phrases"> "Para abrir nuevos caminos, hay que, inventar, experimentar,<br> crecer, correr riesgos, romper las reglas, equivocarse y divertirse." <br> Mary Lou Cook. </h3>

        </div>

    </div>

</div>




