<div class="jumbotron-fluid home-main-bg">

    <div class="container">

        <section class="section-main">
        
            <h1> Concretamos <br>Tus ideas</h1>
            <p> Aterrizamos tus proyectos entregando <br>identidad y valor </p>

        </section>

    </div>
    
</div>


<div class="w-100"> </div>

<div class="container">
    
    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">

            <blockquote class="blockquote text-center">
                <p class="mb-0">"Para abrir nuevos caminos, hay que, inventar, experimentar, crecer, correr riesgos, romper las reglas, equivocarse y divertirse."</p>
                <footer class="blockquote-footer">Mary Lou Cook </footer>
            </blockquote>

        </div>

        <div class="col-md-3"></div>

    </div>

</div>




